.LoginSignUpContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    position: fixed;
    top: 0%;
    left: 0;
}

.LoginSignUpBox{
    background-color:#161b22;
    width: 25vw;
    height: 70vh;
    border: 1px solid #21262d;
    box-sizing: border-box;
    overflow: hidden;
}
.login_signUp_toggle{
    display: flex;
    height:2.7vmax;
}
.login_signUp_toggle>p {
    color: white;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vmax;
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
}
.login_signUp_toggle> p:hover {
    color: #6e40c9;
}
.LoginSignUpBox > div > button {
    background-color: #6e40c9;
    height: 3px;
    width: 50%;
    border:none;
    transition: all 0.5s;
}
.loginForm,
.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}
.signUpForm {
    transform: translateY(-100%) translateX(-100vmax);
}

.loginForm > div,
.signUpForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.loginForm > div > input,
.signUpForm > div > input {
    padding: 0.8vmax 3.5vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #30363d;
    border-radius: 4px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9vmax;
    outline: none;
}
.loginForm > div > svg,
.signUpForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.5vmax;
    color: #4b4c4e;
}
.loginForm > a{
    color: rgb(38, 190, 38);
    text-decoration: none;
    align-self:flex-end;
    transition: all 0.5s;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9vmax;
    
}
.loginForm > a:hover{
    color: green;
}
.registerImage > img {
    width: 3.5vmax;
    border-radius: 100%;
    margin: 3%;
}
.registerImage > input {
    display: flex;
    padding: 0%;
}
.registerImage > input::file-selector-button{
    cursor: pointer;
    width: 125%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8vmax;
    transition: all 0.5s;
    padding: 0 5vmax;
    color: rgb(38, 190, 38);
    background-color: #0d1117;
    transform: translateX(-18.5%);
}

.registerImage > input::file-selector-button:hover{
    color: green;
}

.loginBtn, 
.signUpBtn {
    border: none;
    background-color: #632bd3;
    color: white;
    width: 100%;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9vmax;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline:none;
    box-shadow: 0 2px 5px #30363d;

}
.loginBtn:hover, 
.signUpBtn:hover {
    background-color: #6e40c9;
}

.shiftToLeft {
    transform: translateX(-100%);
}
.shiftToNeutral {
    transform: translateX(0%);
}
.shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
}
.shiftToRight {
    transform: translateX(100%);
}

@media screen and (max-width: 600px) {
    .LoginSignUpContainer {
        background-color: #161b22;
    }
    .LoginSignUpBox{
        width: 100vw;
        height: 95vh;
        border: none;
    }
    .login_signUp_toggle{
        height: 5vmax;
    }
    .login_signUp_toggle > p{
        font-weight: 300;
        font-size: 2vmax;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .loginForm,
    .signUpForm{
        padding: 5vmax;
    }
    .loginForm > div > input,
    .signUpForm > div > input{
        padding: 2.5vmax 5vmax;
        font-size: 1.75vmax;
    }
    .loginForm > div > svg,
    .signUpForm > div > svg{
        font-size: 2.8vmax;
    }
    .loginForm> a{
        font-size: 1.8vmax;
    }
    .registerImage > img {
        width: 8vmax;
        border-radius: 100%;
    }
    .registerImage> input::file-selector-button{
        height: 7vh;
        font-size: 1.8vmax;
        transform: translateX(-10%);
    }
    .loginBtn,
    .signUpBtn{
        font-size: 1.9vmax;
        padding: 1.8vmax;
    }
    

}